* :where(:not(dialog)) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-contaner-40: #CDE1FF66;
    --fundo-modal: #cde1ff6b;
    --fundo-footer-20: #140b33bc;
    --fundo-backdroop-modal: #23325849;
    --fundo-button-40: #ffffff9c;
    --azul-claro-60: #b4e6ff86;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    background-image: url("../imgs/Home.jpg");
}


.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background 0.5s ease;
    height: 40px;
}

.container-navbar:hover {
    background: #343d5273;
    backdrop-filter: blur(8px);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

nav ul li a{
    cursor: default;
    padding: 20px 20px;
    text-align: center;
    transition: color 0.5s ease, background 0.3s ease;
}


div li a:hover {
    background: rgba(255, 255, 255, 0.658);
    color: #000000f5;

}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* height: auto; */
}

.sub-categoria li{
    width: 100%;
}

.titulo-sobre {
    cursor: pointer;
}

.container-navbar div a {
    cursor: pointer;
    font-size: 14px;
    padding: 2px 20px;
    line-height: normal;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #FFF;
}
.sub-categoria {
    gap: 5px;
    flex-direction: column;
    margin: 0;
}
.sub-categoria li a {
    font-size: 12px;
    padding: 12px 20px;
    line-height: normal;
}

li div {
    display: flex;
    position: absolute;
    top: 100%;
    visibility: hidden;
    background-color: #363c4a73;
}

li:hover div {
    visibility: visible;
}

/* li div li{
    display: flex;
    width: 100%;
} */




.container {
    display: flex;
    justify-content: center;
    background-color: var(--fundo-contaner-40);
    height: 400px;
    border: none;
    border-radius: 25px;
    width: 60%;
}


.container h2 {

    text-align: center;
    margin: 25px 0;
    color: #FFF;
    font-size: 32px;
}

.text {
    display: flex;
    align-items: center;
}

.text p {

    margin: 20px 35px;
    color: #FFF;
    padding: 0 10px;
    text-align: justify;
    word-spacing: 10px;
    font-size: 18px;

}


.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
    flex-direction: column;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    flex-direction: row;
}


.conteudo,
.container-principal h2 {
    text-align: center;
    color: #FFF;
    font-size: 32px;
}



.imagem img {

    max-width: 400px;
    height: auto;
}


.container_footer {
    background-color: #343d52e1;
    backdrop-filter: blur(8px);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}

.container_footer span {
    color: #ffffff;
}


.container_bnt {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

}

.container_bnt button {
    border: none;
    border-radius: 200px;
    background-color: transparent;
    color: #FFF;
    width: 100px;
    height: 22px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container_bnt #fechar {
    border: none;
    width: 50px;
    height: auto;

}

#fechar:hover {
    color: black;
    transform: scale(1.05);
}


.container_bnt #verificar:hover,
#carregarCodigo:hover {
    color: black;
    background-color: #ffffff;
    transform: scale(1.02);
}






.paragraph {

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    align-items: center;

}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}


.card a {
    font-size: 16px;
    color: #201e1e;
    word-spacing: 1px;
}

.card a:hover {
    transform: scale(1.05);

}

.atividades a {
    color: #201e1e;

}

.content div h2 {
    color: #201e1e;
    padding: 10px;
    margin: 5px;
}


.modal {
    background-color: var(--fundo-modal);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.modal::backdrop {
    background: var(--fundo-backdroop-modal);
    backdrop-filter: blur(3px);
}



.modal h2 {
    text-align: center !important;
    margin: 2px 0 !important;
    border: none !important;
    font-size: 30px !important;
    padding: 15px !important;
}



.modal .titulo-modal {
    font-size: 32px !important;
    color: #201e1e !important;
    text-align: center !important;
    margin: 15px 0 !important;
    border: none;
}

.modal button {
    position: absolute;
    right: 0;
    padding: 0 5px;
    margin: 0 5px;
}

.card:hover .intro_card {

    visibility: hidden;
    opacity: 0;
    transition: 0.60s ease-out;

}

.container-card {

    display: flex;
    justify-content: center;
}


.card {

    position: relative;
    padding: 10px;
    height: 300px;
    width: 250px;
    display: flex;
    margin: 30px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--azul-claro-60);
    transition: 0.5s;

}

.intro_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card:hover {
    transform: scale(1.05);
    cursor: default;
    background-color: #fff;

}

.card:hover .paragraph {
    visibility: visible;
    opacity: 1;


}

.card p {
    margin: 0 !important;
    color: black !important;
    word-spacing: 5px !important;
    padding-top: 0 2px !important;
    font-size: 12px !important;
}

.container-sobre {
    display: flex;
    justify-content: flex-end;
    background-color: var(--fundo-contaner-40);
    height: 450px;
    border: none;
    border-radius: 25px;
    width: 60%;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container-sobre h2 {

    text-align: left;
    padding: 5px 40px;
    color: #FFF;
    font-size: 32px;
}


.container-codigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;

    .codigo-area {
        width: 80%;
    }
}


.container-codigo h2 {
    margin: 0;
    padding: 5px;

}




.codigo-area pre {
    text-align: left;
    background: #1e1e1e88;
    color: #fcfcfc;
    font-family: monospace;
    height: 290px;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    overflow: scroll;
    box-sizing: border-box;
}



#carregarCodigo {
    margin-top: 15px;
}